interfaces:
# requiresTemp: the interface must be fully configured before being given its final name,
# otherwise the OpenPERouter controller pod could steal and move it into its namespace prematurely.

# leafkind1-sw bridge connections
- left:
    bridge: "leafkind1-sw"
    name: "kindctrlpl1"
  right:
    container: "pe-kind-control-plane"
    name: "toswitch1"
    ips: ["192.168.11.3/24", "2001:db8:11::3/64"]
    requiresTemp: true
{{- range .Workers }}
- left:
    bridge: "leafkind1-sw"
    name: "{{ .BridgeSw1 }}"
  right:
    container: "{{ .Name }}"
    name: "toswitch1"
    ips: ["{{ .IPv4Sw1 }}/24", "{{ .IPv6Sw1 }}/64"]
    requiresTemp: true
{{- end }}

# leafkind2-sw bridge connections
- left:
    bridge: "leafkind2-sw"
    name: "kindctrlpl2"
  right:
    container: "pe-kind-control-plane"
    name: "toswitch2"
    ips: ["192.168.12.3/24", "2001:db8:12::3/64"]
    requiresTemp: true
{{- range .Workers }}
- left:
    bridge: "leafkind2-sw"
    name: "{{ .BridgeSw2 }}"
  right:
    container: "{{ .Name }}"
    name: "toswitch2"
    ips: ["{{ .IPv4Sw2 }}/24", "{{ .IPv6Sw2 }}/64"]
    requiresTemp: true
{{- end }}

# Point to point links for IPv6 unnumbered BGP sessions - leafkind1
{{- range .Workers }}
- left:
    container: "clab-kind-leafkind1"
    name: "{{ .LeafIface }}"
  right:
    container: "{{ .Name }}"
    name: "toleafkind1"
    requiresTemp: true
{{- end }}
- left:
    container: "clab-kind-leafkind1"
    name: "tokindctrlpl"
  right:
    container: "pe-kind-control-plane"
    name: "toleafkind1"
    requiresTemp: true

# Point to point links for IPv6 unnumbered BGP sessions - leafkind2
{{- range .Workers }}
- left:
    container: "clab-kind-leafkind2"
    name: "{{ .LeafIface }}"
  right:
    container: "{{ .Name }}"
    name: "toleafkind2"
    requiresTemp: true
{{- end }}
- left:
    container: "clab-kind-leafkind2"
    name: "tokindctrlpl"
  right:
    container: "pe-kind-control-plane"
    name: "toleafkind2"
    requiresTemp: true
