log file /etc/frr/frr.log {{.Loglevel}}
log timestamp precision 3
{{- if eq .Loglevel "debug" }}
debug zebra events
debug zebra nht
debug zebra kernel
debug zebra rib
debug zebra nexthop
debug bgp neighbor-events
debug bgp updates
debug bgp keepalives
debug bgp nht
debug bgp zebra
debug bfd network
debug bfd peer
debug bfd zebra
{{- end }}
hostname {{.Hostname}}
ip nht resolve-via-default
ipv6 nht resolve-via-default

{{- range .VRFs }}
vrf {{ .VRF }}
{{- if .EVPN }}
  vni {{ .EVPN.VNI }}
{{- end }}
exit-vrf
{{- end }}

{{- if .BFDProfiles }}
bfd
{{- range .BFDProfiles }}
{{- template "bfdprofile" dict "profile" . }}
{{- end }}
exit
{{- end }}

route-map allowall permit 1

{{- if .Underlay.MyASN }}
router bgp {{ .Underlay.MyASN }}
  no bgp ebgp-requires-policy
  no bgp network import-check
  no bgp default ipv4-unicast
  bgp router-id {{ .Underlay.RouterID }}

{{- range $n := .Underlay.Neighbors }}
{{- template "neighborsession" dict "neighbor" $n "routerASN" $.Underlay.MyASN -}}
{{- end }}

{{- range $n := .Underlay.Neighbors }}
{{- template "neighborenableipfamily" . -}}
{{end }}

{{- if .Underlay.SRV6 }}
{{- template "underlaysrv6" . -}}
{{- end }}

{{- if .Underlay.EVPN }}
{{- template "underlayevpn" . -}}
{{- end }}

{{- range .VRFs }}

router bgp {{ .ASN }} vrf {{ .VRF }}
  no bgp ebgp-requires-policy
  no bgp network import-check
  no bgp default ipv4-unicast
  bgp router-id {{ .RouterID }}

  neighbor {{ .LocalNeighbor.Addr }} remote-as {{ .LocalNeighbor.ASN }}

  address-family ipv4 unicast
  {{- range .ToAdvertiseIPv4 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .LocalNeighbor.Addr }} activate
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall in
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall out
  exit-address-family

  address-family ipv6 unicast
  {{- range .ToAdvertiseIPv6 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .LocalNeighbor.Addr }} activate
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall in
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall out
  exit-address-family

  {{- if .EVPN }}
  {{- template "vrfevpn" . -}}
  {{- end }}
  {{- if .SRV6 }}
  {{- template "vrfsrv6" . -}}
  {{- end }}

exit
{{- end }}
{{- end }}

{{- if .Underlay.SRV6 }}
segment-routing
 srv6
  locators
   locator MAIN
    prefix {{ .Underlay.SRV6.Locator }} func-bits 8
   exit
   !
  exit
  !
 exit
 !
exit
{{- end }}