{{- define "localneighbor"}}
  neighbor {{ .localNeighbor.Addr }} remote-as {{ .localNeighbor.ASN }}

  address-family ipv4 unicast
  {{- range .toAdvertiseIPv4 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .localNeighbor.Addr }} activate
    neighbor {{ .localNeighbor.Addr }} route-map allowall in
    neighbor {{ .localNeighbor.Addr }} route-map allowall out
  exit-address-family

  address-family ipv6 unicast
  {{- range .toAdvertiseIPv6 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .localNeighbor.Addr }} activate
    neighbor {{ .localNeighbor.Addr }} route-map allowall in
    neighbor {{ .localNeighbor.Addr }} route-map allowall out
  exit-address-family
{{- end -}}
