{{- define "localneighbor"}}
  neighbor {{ neighborID .LocalNeighbor }} remote-as {{ .LocalNeighbor.ASN }}

  address-family ipv4 unicast
  {{- range .ToAdvertiseIPv4 }}
    network {{ . }}
  {{- end }}
    neighbor {{ neighborID .LocalNeighbor }} activate
    neighbor {{ neighborID .LocalNeighbor }} route-map allowall in
    neighbor {{ neighborID .LocalNeighbor }} route-map allowall out
  exit-address-family

  address-family ipv6 unicast
  {{- range .ToAdvertiseIPv6 }}
    network {{ . }}
  {{- end }}
    neighbor {{ neighborID .LocalNeighbor }} activate
    neighbor {{ neighborID .LocalNeighbor }} route-map allowall in
    neighbor {{ neighborID .LocalNeighbor }} route-map allowall out
  exit-address-family
{{- end -}}
