{{- define "localneighbor"}}
  neighbor {{ .LocalNeighbor.Addr }} remote-as {{ .LocalNeighbor.ASN }}

  address-family ipv4 unicast
  {{- range .ToAdvertiseIPv4 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .LocalNeighbor.Addr }} activate
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall in
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall out
  {{- if .LocalNeighbor.NextHopSelf }}
    neighbor {{ .LocalNeighbor.Addr }} next-hop-self force
  {{- end }}
  exit-address-family

  address-family ipv6 unicast
  {{- range .ToAdvertiseIPv6 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .LocalNeighbor.Addr }} activate
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall in
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall out
  {{- if .LocalNeighbor.NextHopSelf }}
    neighbor {{ .LocalNeighbor.Addr }} next-hop-self force
  {{- end }}
  exit-address-family
{{- end -}}
