{{ define "localpassthrough"}}

{{- if .Passthrough.LocalNeighborV4 }}

  neighbor {{ neighborID .Passthrough.LocalNeighborV4 }} remote-as {{ .Passthrough.LocalNeighborV4.ASN }}

  address-family ipv4 unicast
  {{/* the ToAdvertiseIPv4 addresses are intended to be advertised to the fabric */}}
  {{- range .Passthrough.ToAdvertiseIPv4 }}
    network {{ . }}
  {{- end }}
    neighbor {{ neighborID .Passthrough.LocalNeighborV4 }} activate
    neighbor {{ neighborID .Passthrough.LocalNeighborV4 }} route-map allowall in
    neighbor {{ neighborID .Passthrough.LocalNeighborV4 }} route-map allowall out
  exit-address-family

{{- template "neighborenableipfamily" dict "neighbor" .Passthrough.LocalNeighborV4 -}}
{{- end -}}

{{- if .Passthrough.LocalNeighborV6 }}

  neighbor {{ neighborID .Passthrough.LocalNeighborV6 }} remote-as {{ .Passthrough.LocalNeighborV6.ASN }}

  address-family ipv6 unicast
  {{/* the ToAdvertiseIPv6 addresses are intended to be advertised to the fabric */}}
  {{- range .Passthrough.ToAdvertiseIPv6 }}
    network {{ . }}
  {{- end }}
    neighbor {{ neighborID .Passthrough.LocalNeighborV6 }} activate
    neighbor {{ neighborID .Passthrough.LocalNeighborV6 }} route-map allowall in
    neighbor {{ neighborID .Passthrough.LocalNeighborV6 }} route-map allowall out
  exit-address-family
{{- template "neighborenableipfamily" dict "neighbor" .Passthrough.LocalNeighborV6 -}}
{{- end -}}
{{- end }}

