{{- define "neighborsession"}}
  {{- if .neighbor.Addr }}
  neighbor {{.neighbor.Addr}} remote-as {{.neighbor.ASN}}
  {{- else }}
  neighbor {{.neighbor.Interface}} interface remote-as {{.neighbor.ASN}}
  {{- end }}
  {{- if .neighbor.EBGPMultiHop }}
  neighbor {{neighborID .neighbor}} ebgp-multihop
  {{- end }}
  {{ if .neighbor.Port -}}
  neighbor {{neighborID .neighbor}} port {{.neighbor.Port}}
  {{- end }}
  {{ if and .neighbor.KeepaliveTime .neighbor.HoldTime }}
  neighbor {{neighborID .neighbor}} timers {{.neighbor.KeepaliveTime}} {{.neighbor.HoldTime}}
  {{- end }}
  {{- if .neighbor.ConnectTime }}
  neighbor {{neighborID .neighbor}} timers connect {{.neighbor.ConnectTime}}
  {{- end }}
  {{ if .neighbor.Password -}}
  neighbor {{neighborID .neighbor}} password {{.neighbor.Password}}
  {{- end }}
{{- if ne .neighbor.BFDProfile ""}}
  neighbor {{neighborID .neighbor}} bfd profile {{.neighbor.BFDProfile}}
{{- else if .neighbor.BFDEnabled}}
  neighbor {{neighborID .neighbor}} bfd
{{- end }}
{{- if  mustDisableConnectedCheck .neighbor.IPFamily .routerASN .neighbor.ASN .neighbor.EBGPMultiHop }}
  neighbor {{neighborID .neighbor}} disable-connected-check
{{- end }}
{{- if .neighbor.ExtendedNexthop }}
  neighbor {{neighborID .neighbor}} capability extended-nexthop
{{- end }}
{{- end -}}
